<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
	<appSettings xdt:Transform="InsertAfter(/configuration/configSections)">
		<add key="Publish" value="false" />
	</appSettings>
	<system.serviceModel>
		<client xdt:Transform="InsertAfter(/configuration/system.serviceModel/bindings)">
			<endpoint
				name="ClientEndPoint"
				address="net.tcp://127.0.0.1:808/RemoteEventService"
				binding="netTcpBinding"
				bindingConfiguration="RemoteEventsBinding"
				contract="EPiServer.Events.ServiceModel.IEventReplication"
			/>
		</client>
		<services>
			<service name="EPiServer.Events.Remote.EventReplication">
				<endpoint
					name="ServiceEndPoint"
					address="net.tcp://127.0.0.1:809/RemoteEventService"
					binding="netTcpBinding"
					bindingConfiguration="RemoteEventsBinding"
					contract="EPiServer.Events.ServiceModel.IEventReplication"
					xdt:Locator="Match(name)"
					xdt:Transform="SetAttributes(address)"
				/>
			</service>
		</services>
	</system.serviceModel>
</configuration>