<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<section name="episerver.framework" restartOnExternalChanges="true" type="EPiServer.Framework.Configuration.EPiServerFrameworkSection, EPiServer.Framework.AspNet" />
	</configSections>
	<episerver.framework>
		<event defaultProvider="WcfEventProvider">
			<providers>
				<add name="WcfEventProvider" type="EPiServer.Events.Providers.WcfEventProvider, EPiServer.Framework.AspNet" />
			</providers>
		</event>
		<scanAssembly forceBinFolderScan="true">
			<add assembly="Application" />
			<add assembly="EPiServer.Framework" />
			<add assembly="EPiServer.ServiceLocation.StructureMap" />
		</scanAssembly>
	</episerver.framework>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="EPiServer.ApplicationModules" culture="neutral" publicKeyToken="8fe83dea738b45b7" />
				<bindingRedirect newVersion="11.1.0.0" oldVersion="0.0.0.0-11.1.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="EPiServer.Data" culture="neutral" publicKeyToken="8fe83dea738b45b7" />
				<bindingRedirect newVersion="11.1.0.0" oldVersion="0.0.0.0-11.1.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="EPiServer.Data.Cache" culture="neutral" publicKeyToken="8fe83dea738b45b7" />
				<bindingRedirect newVersion="11.1.0.0" oldVersion="0.0.0.0-11.1.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="EPiServer.Events" culture="neutral" publicKeyToken="8fe83dea738b45b7" />
				<bindingRedirect newVersion="11.1.0.0" oldVersion="0.0.0.0-11.1.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="EPiServer.Framework" culture="neutral" publicKeyToken="8fe83dea738b45b7" />
				<bindingRedirect newVersion="11.1.0.0" oldVersion="0.0.0.0-11.1.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="EPiServer.Framework.AspNet" culture="neutral" publicKeyToken="8fe83dea738b45b7" />
				<bindingRedirect newVersion="11.1.0.0" oldVersion="0.0.0.0-11.1.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="EPiServer.Licensing" culture="neutral" publicKeyToken="8fe83dea738b45b7" />
				<bindingRedirect newVersion="11.1.0.0" oldVersion="0.0.0.0-11.1.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="EPiServer.Logging.Log4Net" culture="neutral" publicKeyToken="8fe83dea738b45b7" />
				<bindingRedirect newVersion="2.2.2.0" oldVersion="0.0.0.0-2.2.2.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="EPiServer.ServiceLocation.StructureMap" culture="neutral" publicKeyToken="null" />
				<bindingRedirect newVersion="2.0.1.0" oldVersion="0.0.0.0-2.0.1.0" />
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
	<startup>
		<supportedRuntime sku=".NETFramework,Version=v4.6.1" version="v4.0" />
	</startup>
	<system.serviceModel>
		<behaviors>
			<serviceBehaviors>
				<behavior name="DebugServiceBehaviour">
					<serviceDebug includeExceptionDetailInFaults="true" />
				</behavior>
			</serviceBehaviors>
		</behaviors>
		<bindings>
			<netTcpBinding>
				<binding name="RemoteEventsBinding" portSharingEnabled="true">
					<security mode="None" />
				</binding>
			</netTcpBinding>
		</bindings>
		<serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" />
		<services>
			<service name="EPiServer.Events.Remote.EventReplication" behaviorConfiguration="DebugServiceBehaviour">
				<endpoint
					name="ServiceEndPoint"
					address="net.tcp://127.0.0.1:808/RemoteEventService"
					binding="netTcpBinding"
					bindingConfiguration="RemoteEventsBinding"
					contract="EPiServer.Events.ServiceModel.IEventReplication"
				/>
			</service>
		</services>
	</system.serviceModel>
</configuration>